<form action="/prods/edit/{{name}}" method="post">
	<input name="name" placeholder="name" value="{{name}}" disabled><br>
	<input name="cost" placeholder="cost" value="{{cost}}"><br>
	<input name="rest" placeholder="rest" value="{{rest}}"><br>
	<input type="submit">
</form>